Repository DanieliusDev/gamertike: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.{ts,tsx}": "eslint --fix",
	"*.{ts,tsx,md,json,yml,yaml}": "prettier --write"
}

feat: add ids
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: update deps
  .vscode/settings.json
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/globals.css
  src/app/head.tsx
  src/app/layout.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: update website amd deps
  .github/workflows/ci.yml
  .prettierrc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Navbar.tsx
  src/components/Projects.tsx
  src/components/SocialLinks.tsx
  src/components/Technologies.tsx
  src/components/TypeWritter.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: update renovate config
  .github/renovate.json
Due: prettier --write

fix: add vercel preset in server config
  app.config.ts
Due: eslint --fix, prettier --write

fix: add .vercel into .gitignore
  .gitignore
Due: none

feat: add Svelte to used technologies
  src/components/ui/Technologies.tsx
Due: eslint --fix, prettier --write

feat: rebrand + QoL code improvements
  .eslintrc.json
  README.md
  app.config.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  public/logo.jpg
  src/app.css
  src/app.tsx
  src/components/Link.tsx
  src/components/index.ts
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Main.tsx
  src/components/page/Footer.tsx
  src/components/page/Header.tsx
  src/components/page/Main.tsx
  src/components/ui/CurrentlyPlaying.tsx
  src/components/ui/Heading.tsx
  src/components/ui/Link.tsx
  src/components/ui/SocialLink.tsx
  src/components/ui/SocialLinks.tsx
  src/components/ui/TechCategory.tsx
  src/components/ui/Technologies.tsx
  src/components/ui/Technology.tsx
  src/components/ui/TypeWriter.tsx
  src/constants.ts
  src/entry-server.tsx
  src/lib/index.ts
  src/lib/spotify.ts
  src/types.d.ts
  src/util/index.ts
  src/util/spotify.ts
Due: eslint --fix, prettier --write
